<a href="https://colab.research.google.com/github/honginhwa/python_study/blob/master/greed_algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 그리드 알고리즘 

일반적인 상황에서 그리디 알고리즘은 최적의 해를 얻을 수 있는 상황을 추론하여 생각하여야한다.

## 1. 당신은 카운터에서 거스름돈으로 사용할 500원,100원, 50원, 10원짜리 동전이 무한히 존재한다고 가정합니다. 손님에게 거슬러 주어야 할 돈이 N원일떄 거슬러 주어야 할 동전의 최소 갯수를 구하시오

In [ ]:
# 최적의 해를 빠르게 구하기 위해서는 가장 큰 화폐 단위부터 돈을 거슬러 주면 됩니다.

# ex) 1260

# 500 = 2 , 100 = 2, 50 = 1 , 10 = 1

- 가장 큰 화폐단위부터 돈을 거슬러 주는 것이 최적의 해를 보장한다.

In [ ]:
cash = int(input())
amount = []

array = [500, 100, 50, 10]

for i,num in enumerate(array):
  tmp = cash // num
  print("tmp = ", tmp)
  amount.append(tmp)
  cash = cash - num*tmp
  print(cash)
print(amount)

900
tmp =  1
400
tmp =  4
0
tmp =  0
0
tmp =  0
0
[1, 4, 0, 0]

## 2. 어떠한 수 N이 1이 될때까지 다음의 두 과정 중 하나를 반복적으로 선택하여 수행하려고 합니다. 단, 두 번째 연산은 N이 K로 나누어 떨어질때만 선택할 수 있습니다.

- 1. N에서 1을 뺍니다
- 2. N을 K로 나눕니다

N과 K가 주어질 떄 N이 1이 될때까지 1번 혹은 2번의 과정을 수행해야 하는 최소 횟수를 구하는 프로그램을 작성하시오

In [ ]:
# n,k = map(int,input(),split())

N = int(input("N = "))
K = int(input("K = "))
slice_num = 0
while True:
  if N%K == 0:
    N = N/K
    slice_num +=1
  else:
    N = N - 1
  if N == 1:
    break
print(slice_num)

N = 24
K = 3
2

각 자리가 숫자(0부터 9)로만 이루어진 문자열 S가 주어젔을떄, 왼쪽부터 오른쪽으로 하나씩 모든 숫자를 확인하며 숫자 사이에 'x' 혹은 '+'연산자를 넣어 결과적으로 만들어 질 수 있는 가장 큰 수를 구하는 프로그램을 작성하세요 단, +보다 x를 먼저 계산하는 일반적인 방식과는 달리 모든 연산은 왼쪽부터 순서대로 이루어 진다고 가정합니다

- ex) 02984 라는 문자열로 만들수 있는 가장 큰수는 ((((0+2)x9)x8)x4) = 572입니다

In [ ]:
data = input()

result = int(data[0])
for i in range(1,len(data)):
  num = int(data[i])
  if num <=1 or result <=1:
    result += num
  else:
    result*= num

print(result)

12345
180

## 구현(Implementation)

구현이란, 머릿속에 있는 알고리즘을 소스코드로 바꾸는 과정입니다.

- problem, thinking, solution
- 풀이를 떠올리는 것은 쉽지만, 소스코드로 옮기기 어려운 문제를 지칭합니다.

일반적으로 알고리즘 문제에서의 2차원 공간은 행렬의 의미로 사용됩니다

In [ ]:
for i in range(5):
  for j in range(5):
    print('(',i,',',j,')', end=' ')
  print()

( 0 , 0 ) ( 0 , 1 ) ( 0 , 2 ) ( 0 , 3 ) ( 0 , 4 )
( 1 , 0 ) ( 1 , 1 ) ( 1 , 2 ) ( 1 , 3 ) ( 1 , 4 )
( 2 , 0 ) ( 2 , 1 ) ( 2 , 2 ) ( 2 , 3 ) ( 2 , 4 )
( 3 , 0 ) ( 3 , 1 ) ( 3 , 2 ) ( 3 , 3 ) ( 3 , 4 )
( 4 , 0 ) ( 4 , 1 ) ( 4 , 2 ) ( 4 , 3 ) ( 4 , 4 )

### 시물레이션 및 완전 탐색 문제에서는 2차원 공간에서의 "**방향 벡터**"가 자주 화룡됩니다.

In [ ]:
# 동북서남
dx = [0, -1, 0, 1]
dy = [1, 0, -1, 0]

# 현재위치 
x,y = 2,2

for i in range(4):
  # 다음 위치
  nx = x + dx[i]
  ny = y + dy[i]
  print(nx,ny)

2 3
1 2
2 1
3 2

## 상하좌우 

여행가 인화는 N X N 크기의 정사각형 공간 위에 서 있습니다. 이 공간은 1 x 1 크기의 정사각형으로 나누어져 있습니다. 가장 왼쪽 위 좌표는(1,1)이며, 가장 오른쪽 아래 좌표는(N,N)에 해당합니다. 여행가 인화는 상,하,좌,우 방향으로 이동할수 있으며, 시작 좌표는 항상(1,1)입니다. 우리 앞에는 여행가 인화가 이동할 계획이 적힌 계획서가 놓여있습니다. 

- L : 왼쪽으로 한 칸 이동
- R : 오른쪽으로 한 칸 이동
- U : 위로 한 칸 이동 
- D : 아래로 한 칸 이동

In [ ]:
#  동 북 서 남 
dx = [0, -1 , 0 , 1 ]
dy = [1, 0 , -1 , 0]

controler = list(input().split())
print(controler)
#현재 위치
x,y = (1,1)
for i in controler:
  if i == 'L'  and x > 2 : 
    x = x + dx[2]
    y = y + dy[2]
  if i == 'R' and x < 100:
    x = x + dx[0]
    y = y + dy[0]
  if i == 'U' and y > 1:
    x = x + dx[1]
    y = y + dy[1]
  if i == 'D' and y < 100:
    x = x + dx[3]
    y = y + dy[3]
print(x,y)

R R R D D
['R', 'R', 'R', 'D', 'D']
3 4

In [ ]:
#  동 북 서 남 
dx = [0, -1 , 0 , 1 ]
dy = [1, 0 , -1 , 0]
move_type = ['L', 'R', 'U', 'D']
plans = list(input().split())

#현재 위치
x,y = (1,1)

for plan in plans:
  for i in range(len(move_type))
    if plan == move_type[i]
    x = x + dx[i]
    y = y + dy[i]
 

# 대충 이런식

In [ ]:
True1 = [1,2,3,4]
controller = ['a','b','c','d']
Q = input().split()
for i in Q:
  for j in range(len(controller)):
    if i == controller[j]:
      print(True1[j])

d d a b
4
4
1
2

## 시각 3 찾기

정수 N을 입력되면 00시00분00초부터 N시59분59초까지의 모든 시각 중에서 3이 하나라도 포함되는 모든 경우의 수를 구하는 프로그램을 작성하세요

- 00시 00분 03초
- 00시 13분 33초

In [ ]:
# 24 * 60 * 60 = 86400이다. 
# 단순히 시각을 1 씩 증가시키면서 3이 하나라도 포함되어있으면 

h = int(input())
count = 0

for i in range(h+1):
  for j in range(60):
    for k in range(60):
      if '3' in str(i) + str(j) + str(k):
        count += 1
print(count)

3
8325

## 문자열 재정렬 

알파벳 대문자와 숫자(0~9)로만 구성된 물자열이 입력으로 주어집니다. 이때 모든 알파벳을 오름차순으로 정렬하여 이어서 출력한 뒤에, 그 뒤에 모든 숫자를 더한 값을 이어서 출력합니다.
- 예를들어 K1KA5CB7 이라 하면 ABCKK13을 출력합니다.

In [10]:
data = input()
result = []
value = 0

print(data)
for x in data:
  if x.isalpha():
    result.append(x)
print(result)

adshjflakjsdhf18372649172364
['a', 'd', 's', 'h', 'j', 'f', 'l', 'a', 'k', 'j', 's', 'd', 'h', 'f', '1', '8', '3', '7', '2', '6', '4', '9', '1', '7', '2', '3', '6', '4']
['a', 'd', 's', 'h', 'j', 'f', 'l', 'a', 'k', 'j', 's', 'd', 'h', 'f']

1234151
['1', '2', '3', '4', '1', '5', '1']